# Logs
logs
*.log
npm-debug.log*

# Visual Studio 2015/2017/2019/2022 cache/options directory
.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Code
.vscode/
*.code-workspace
.history/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# .NET libraries and packages
packages/
*.nupkg

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Mac
.DS_Store

# End of https://www.gitignore.io/api/visualstudio,csharp
